<h1>Welcome to the Vegan Homies Project</h1>

<p>Vegan Homies is a website intended to allow vegans to make friends with other vegans in real life with location based search.</p>

<% if user = User.find_by(id: session[:user_id]) %>
	<h2>Hello <%= user.name %></h2>
	<%= link_to "Log Out", logout_path, method: "delete" %> 
<% else %>
	<h2>Not logged in</h2> 
<% end %>

