/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #banner {
 	position: relative;
 	min-height: 60 px;
 	background: #9c9;
 	padding: 10px;
 	color: #282;
 	border-bottom: 2px solid;
 }
 
 #columns {
 	background: #141;
 	display: flex;
 	
 	#side {
 		padding: 1em 2em;
 		background: #9c9;
 		
 		ul {
 			padding: 0;
 			li {
 				list-style: none;
 				
 				a {
 					color: #282;
 					font-size: small;
 					text-decoration: none;
 				}
 			}
 		}
 	} 
 	#main {
 		padding: 1em;
 		background: white;
 		flex: 1;
 	}
 }
 
 